body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-image: url(./assets/img/bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

body{
    overflow-y: visible;
}

div {
    height: 100%;
    width: 100%;
    margin: 0;
}

.row-1{
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    margin: 40px 5px 10px 0;
    height: fit-content;
}

.row-1::after{
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    margin: 10px 5px 10px 0;
    height: fit-content;
}

.content-info{
    background-color: tomato;
    height: 50px;
    color: white;
    padding: 5px;
    display: flex;
    align-items: center;
}

.img-style{
    display: flex;
    align-items: center;
}

.ic-info{
    width: 20px;
    margin-right: 10px;
}

.row-2{
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    margin: 40px 0 10px 5px;
    height: fit-content;
}

.row-2::after{
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    margin: 10px 10px 10px 5px;
    height: fit-content;
}

.content-signin{
    display: flex;
    width: 100%;
    text-align: center;
    justify-content: center;
}

.logo-signin{
    max-height: 100px;
    margin-bottom: 20px;
}

h3{
    display: flex;
    font-family: 'Exo 2', sans-serif;
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: 500;
    color: inherit;
    justify-content: center;
}

p{
    display: flex;
    font-family: 'Exo 2', sans-serif;
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 12px;
    font-weight: 500;
    color: inherit;
    justify-content: center;
}

.btn-masuk{
    width: 100%;
}